/*BASE*/
/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

/* End Reset */
/*Typography*/
.heading-1 {
  font-size: 2.5rem;
  font-weight: 700; }

.heading-2 {
  font-size: 2rem;
  font-weight: 700; }

.heading-3 {
  font-size: 1.75rem;
  font-weight: 700; }

.heading-4 {
  font-size: 1.5rem;
  font-weight: 600; }

.heading-5 {
  font-size: 1.25rem;
  font-weight: 600; }

.heading-6 {
  font-size: 1rem;
  font-weight: 600; }

.subtitle-1 {
  font-size: 1rem;
  font-weight: 500; }

.subtitle-2 {
  font-size: .875rem;
  font-weight: 500; }

.body-1 {
  font-size: 1rem;
  font-weight: 400; }

.body-2 {
  font-size: .875rem;
  font-weight: 400; }

.body-through {
  font-size: .875rem;
  font-weight: 400;
  text-decoration: line-through; }

.caption {
  font-size: .8125rem;
  font-weight: 400; }

.overline {
  font-size: .8125rem;
  font-weight: 400;
  text-transform: uppercase; }

/*End Typography*/
/* END BASE */
/* UTILITIES */
.btn-categorias-tablet, .btn-categorias-mobile, .carousel-mobile {
  display: none !important; }

/* UTILITIES */
/* COMPONENTS*/
/* Button */
.btn {
  font-family: 'Mitr', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-transform: uppercase;
  padding: .625rem 1rem;
  border: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row;
  flex-wrap: nowrap; }
  .btn:hover {
    cursor: pointer; }

.button-primary {
  background-color: #F55A03;
  color: #FFFFFF; }
  .button-primary:hover {
    background-color: #D3381F;
    color: #FFFFFF; }

.button-secondary {
  background-color: #FFFFFF;
  color: #212328;
  box-shadow: inset 0 0 0 1px #212328; }
  .button-secondary:hover {
    background-color: #EFEFF4;
    color: #212328;
    box-shadow: inset 0 0 0 1px #212328; }

.button-ghost {
  background-color: transparent;
  color: #212328; }
  .button-ghost:hover {
    background-color: #EFEFF4;
    color: #212328; }

/* End button */
/* cards */
/* card category */
.card-category {
  width: 35rem;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 4px #9C9DA1;
  transition: ease .3s; }
  .card-category:hover {
    box-shadow: 0 8px 8px #9C9DA1;
    transform: scale(1.025); }
  .card-category img {
    width: 100%; }

.card-category-title {
  position: absolute;
  width: 100%;
  top: 1rem;
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  -webkit-text-stroke: 2px #F55A03;
  font-size: 2.5rem; }

.card-category-footer {
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap; }

/* End card category */
/* Card product */
.card-product {
  width: 20rem;
  text-align: center;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 4px 4px #9C9DA1;
  transition: ease .3s; }
  .card-product:hover {
    box-shadow: 0 8px 8px #9C9DA1;
    transform: scale(1.025); }

.card-product-header {
  width: 20rem; }
  .card-product-header img {
    width: 100%; }

.card-product-body {
  height: 10rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  flex-wrap: nowrap; }

.card-product-title {
  font-size: 1.5rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden; }

.card-product-price {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0; }

.card-product-footer {
  height: 3.5rem;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap; }

/* End card product */
/* End cards */
/* navbar main */
header {
  background-color: #FFFFFF;
  box-shadow: 0 4px 4px #9C9DA1;
  position: fixed;
  width: 100%;
  z-index: 2; }

.navbar-top {
  background-color: #FFFFFF;
  padding: .5rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap; }

.navbar-top-left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap; }

.navbar-brand {
  height: 3.5rem; }

.navbar-brand-img {
  height: 100%; }

.navbar-top-right {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap; }

.info-delivery {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;
  flex-direction: row;
  flex-wrap: nowrap; }

.info-delivery span {
  font-size: 2.5rem; }

.wrap-delivery-number p {
  margin-bottom: 0; }

.delivery-label {
  color: #F55A03; }

.navbar-categories {
  background-color: #FFFFFF;
  padding: 0 3.5rem .5rem 3.5rem; }

.menu-categories {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }
  .menu-categories a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #212328; }
    .menu-categories a:hover, .menu-categories a.active {
      color: #F55A03; }

/* End navbar */
/* Modals */
.modal-header-center, .modal-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap; }

.modal-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase; }

.modal-body p {
  text-align: center; }

/* End Modals */
/* Off canvas categories mobile */
.menu-sidebar-mobile {
  list-style: none;
  padding-left: 0;
  text-align: center; }
  .menu-sidebar-mobile li {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    font-weight: 600; }
    .menu-sidebar-mobile li a {
      color: #212328;
      text-decoration: none; }

.offcanvas-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap; }

/* End off canvas categories mobile */
/* Sections */
.section {
  padding: 2.5rem 3.5rem; }

.header-section {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1rem; }
  .header-section h1, .header-section h2 {
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 700; }

/* End sections */
/* Footer */
footer {
  background-color: #212328;
  padding: 2rem 3.5rem;
  color: #FFFFFF; }

.footer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 2rem; }
  .footer-header img {
    height: 3.5rem; }

.footer-body {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem; }

.footer-list {
  width: 15rem;
  list-style: none;
  color: #FFFFFF;
  padding-left: 0;
  text-transform: uppercase; }
  .footer-list li {
    margin-bottom: 1rem; }
  .footer-list a {
    text-decoration: none;
    color: #FFFFFF; }
    .footer-list a:hover {
      color: #F55A03; }

.title-list {
  font-size: 1.25rem;
  font-weight: 600; }

.footer-social {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.footer-social-title {
  font-size: 1.25rem;
  margin-bottom: 1rem; }

.container-socials {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap; }
  .container-socials img {
    display: inline-block;
    height: 2.5rem; }

.footer-rights {
  text-align: center; }

.footer-detalle {
  padding-bottom: 10rem; }

/* End footer */
/* END COMPONENTS*/
/*VIEWS*/
/* Index */
body {
  color: #212328;
  font-family: 'Mitr', sans-serif;
  line-height: normal;
  font-weight: 400; }

main {
  background-color: #EFEFF4;
  min-height: 100vh;
  padding-top: 7.375rem; }

hr {
  border: 1px solid #212328; }

fieldset {
  /* background-color: pink; */
  border: none; }

.container-products {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap; }

/* End index */
/* CATEGORY PAGE */
.container-cards-products {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap; }

/* END CATEGORY PAGE */
/* Product detail */
.section-product-detail {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: nowrap; }

.product-detail {
  width: 35rem; }

.product-detail-title {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.product-detail-description {
  list-style: square;
  margin-left: 1.5rem;
  margin-bottom: 1rem; }

.product-detail-img {
  width: 100%;
  box-shadow: 0 4px 4px #9C9DA1;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem; }

.product-customization {
  background-color: #FFFFFF;
  width: 42rem;
  box-shadow: 0 4px 4px #9C9DA1;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem; }

.product-customization-option {
  margin-bottom: 2rem; }

.product-customization-option-header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1rem; }
  .product-customization-option-header h2 {
    font-size: 1.5rem; }

.number-option {
  background-color: #F55A03;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 600;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap; }

.wrap-product-extra-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1rem; }
  .wrap-product-extra-control p {
    font-size: 1.2rem; }
    .wrap-product-extra-control p span {
      font-weight: 600; }

.control-product-extra {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row;
  flex-wrap: nowrap; }

.input-number-extra {
  border: none;
  height: 2.5rem;
  user-select: none;
  font-size: 1.5rem;
  width: 4rem;
  padding-left: 1.2rem; }

.control-quantity-product {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1.5rem;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%; }

.wrap-quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap; }

/* End product detail */
/* Locations page */
.grid-container-location {
  /* background-color: lavender; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 2rem; }

.card-location {
  background-color: #FFFFFF;
  box-shadow: 0 4px 4px #9C9DA1;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center; }
  .card-location h2 {
    font-size: 1.5rem;
    color: #F55A03; }

.wrap-card-location-data {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  flex-direction: row;
  flex-wrap: nowarp; }

/* End locations page */
/* Cart page  */
.wrap-cart-summary {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: nowrap; }

.section-cart {
  background-color: #FFFFFF;
  width: 42rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 4px #9C9DA1; }

.cart-header {
  margin-bottom: 2rem; }

.cart-header-title {
  font-size: 1.5rem;
  text-transform: uppercase; }

.cart-product {
  margin-bottom: 2rem;
  padding-top: 1rem; }

.cart-product-name {
  font-size: 1.2rem;
  margin-bottom: 0; }

.wrap-cart-product-name-delete, .wrap-cart-product-price-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1rem; }

.wrap-cart-product-price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: nowrap; }

.cart-product-price {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0; }

.summary {
  background-color: #FFFFFF;
  width: 32rem;
  padding: 2rem;
  box-shadow: 0 4px 4px #9C9DA1;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem; }
  .summary hr {
    margin-bottom: 1rem; }

.summary-body {
  margin-bottom: 2rem; }

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1rem; }

.summary-item-price {
  font-size: 1.25rem;
  font-weight: 500; }

.summary-footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: nowrap; }
  .summary-footer .btn {
    width: 100%; }

.navigation-mobile-bottom {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1.5rem;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none; }
  .navigation-mobile-bottom .btn {
    width: auto; }

/* End cart page */
/* Checkout page */
.wrap-checkout-summary {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: nowrap; }

.checkout {
  background-color: #FFFFFF;
  padding: 2rem;
  width: 42rem;
  box-shadow: 0 4px 4px #9C9DA1;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem; }

.big-form-label {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: .5rem; }

.wrap-inputs {
  margin-bottom: 1.5rem; }

.wrap-address-delivery {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap; }

.radioAddress {
  width: 100%;
  height: 8rem;
  opacity: 0;
  cursor: pointer; }

.radio-address-group {
  background-color: #FFFFFF;
  width: 18rem;
  display: inline-block;
  border: 2px solid #212328;
  position: relative;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem; }

.label-address {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding: 1rem; }

.wrap-address-delivery input[type=radio]:checked + label {
  background: #47BD8F;
  color: #FFFFFF; }

.wrap-form-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%; }

.form-group {
  width: 100%; }

.form-input {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  padding: .625rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #9C9DA1;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem; }

.form-group-radio-check {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap; }

/* End checkout page */
/*END VIEWS*/
/* MQ */
/* Laptop */
/* Fin laptop */
/* Tablet landscape */
@media (max-width: 1024px) {
  /* Index */
  main {
    padding-top: 4.5rem; }
  .navbar-categories {
    padding: 0 3.5rem; }
  .menu-categories {
    display: none; }
  .btn-categorias-tablet {
    display: block !important; }
  .container-products {
    gap: 1rem; }
  .card-category {
    width: 280px; }
  .card-category-title {
    font-size: 2rem;
    -webkit-text-stroke: 2px #F55A03; }
  .footer-body {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem; }
  /* End index */ }

/* Fin tablet landscape */
/* Tablet portrait */
@media (max-width: 768px) {
  /* Index */
  .info-delivery {
    display: none; }
  .navbar-top {
    padding: .5rem 2rem; }
  .section,
  footer {
    padding: 2rem; }
  .card-category {
    width: 320px; }
  /* End index */
  /* Detail page */
  .section-product-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    flex-wrap: nowrap; }
  .product-detail {
    width: 100%; }
  .product-customization {
    width: 100%; }
  /* End detail page */
  /* Cart page */
  .wrap-cart-summary {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-direction: column;
    flex-wrap: nowrap; }
  .section-cart {
    width: 100%; }
  .summary {
    width: 100%; }
  .summary-footer {
    display: none; }
  .footer-cart-page {
    padding-bottom: 7.5rem; }
  .navigation-mobile-bottom {
    display: flex; }
  /* End cart page */
  /* Checkout page */
  .wrap-checkout-summary {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-direction: column;
    flex-wrap: nowrap; }
  .checkout {
    width: 100%; }
  /* Checkout page */ }

/* fin tablet portrait */
/* Cell landscape */
@media (max-width: 736px) {
  /* Index */
  .btn-categorias-tablet,
  .btn-user-name {
    display: none !important; }
  .btn-user-name {
    display: none; }
  .btn-categorias-mobile {
    display: block !important;
    padding: .5rem;
    font-size: 2rem; }
  .header-section {
    justify-content: center;
    margin-bottom: 1rem; }
    .header-section .btn {
      display: none; }
  /* End index */
  /* Category page */
  .container-cards-products {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap; }
  /* End Category page */
  /* Cart page */
  .footer-cart-page {
    padding-bottom: 10rem; }
  /* End cart page */ }

/* Fin cell landscape */
/* Cell portrait */
@media (max-width: 480px) {
  /* Index */
  .navbar-top {
    background-color: #FFFFFF;
    padding: .5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap; }
  .section,
  footer {
    padding: 1.5rem; }
  .footer-list {
    text-align: center; }
  .card-category {
    width: 100%; }
  .offcanvas-categories-mobile {
    width: 75vw !important; }
  /* Carousel */
  .carousel-desktop {
    display: none; }
  .carousel-mobile {
    display: block !important; }
  /* End Carousel */
  /* End index */
  /* Detail page */
  .product-detail-title {
    font-size: 1.5rem; }
  .product-customization-option-header h2 {
    font-size: 1.25rem; }
  .wrap-product-extra-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #212328; }
    .wrap-product-extra-control:last-child {
      border-bottom: none; }
    .wrap-product-extra-control p {
      text-align: center; }
  .wrap-quantity-controls span {
    font-size: 1.25rem; }
  .control-quantity-product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    flex-wrap: nowrap; }
    .control-quantity-product .btn {
      width: 100%; }
  .wrap-quantity-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap; }
  /* End detail page */
  /*  Cart page */
  .cart-product {
    padding-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #212328; }
    .cart-product:last-child {
      border-bottom: none; }
  .cart-header-title {
    font-size: 1.5rem; }
  .wrap-cart-product-name-delete {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: .5rem; }
  .wrap-cart-product-price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    flex-wrap: nowrap; }
  .navigation-mobile-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    flex-wrap: nowrap; }
    .navigation-mobile-bottom .btn {
      width: 100%; }
  /* End cart page */
  /* Checkout page */
  .form-group-radio-check {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap; }
  .wrap-form-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.5rem;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1rem; }
  /* End checkout page */ }

/* Fin cell portrait */
/* END MQ */
