/* Footer */
footer {
    background-color: $dark;
    padding: 2rem 3.5rem;
    color: $white;
  }

  .footer-header {
    @include display-flex(center, center, 1rem, row, nowrap);
    margin-bottom: 2rem;
    img {
        height: 3.5rem;
    }
  }

  .footer-body {
    // background-color: brown;
    margin-bottom: 2rem;
    display: grid;
    grid-gap: 2rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .footer-list {
    // background-color: chocolate;
    width: 15rem;
    list-style: none;
    color: $white;
    padding-left: 0;
    text-transform: uppercase;
    li {
        margin-bottom: 1rem;
    }
    a {
        text-decoration: none;
        color: $white;
        &:hover {
            color: $primary;
        }
    }
  }

  .title-list {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .footer-social {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .footer-social-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .container-socials {
    @include display-flex(center, start, 2rem, row, wrap);
    img {
        display: inline-block;
        height: 2.5rem;
    }
  }

  .footer-rights {
    text-align: center;
  }

  .footer-detalle {
    padding-bottom: 10rem;
  }
/* End footer */