/* Index */
body {
    color: $dark;
    font-family: 'Mitr', sans-serif;
    line-height: normal;
    font-weight: 400;
  }

  main {
    background-color: $gray-light;
    min-height: 100vh;
    padding-top: 7.375rem;
  }

  hr {
    border: 1px solid $dark;
  }

  fieldset {
    /* background-color: pink; */
    border: none;
  }

  .carousel-mobile {
    @extend %display-none;
  }

  .container-products {
    @include display-flex(star, start, 2rem, row, wrap);
  }
/* End index */